.button {
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

.primary {
  background-color: #000;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #000;
}
