.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  &__label {
    margin: 2px 0px;
  }
  &__input {
    padding: 15px;
    border: none;
    background-color: #eee;
    outline: none;
  }
}
